:root {
    /* --ifm-color-primary: #1794ef; */
    /* --doc-sidebar-width: 250px;  */
    --ifm-font-family-base: 'IBM Plex Sans', sans-serif;
    --ifm-font-color-base: #3b454e;
    --ifm-heading-color: #000000;
    --ifm-color-primary: #1889df;
    --wm-bg-text-color: #1794ef;
    --ifm-h1-font-size: 2.5rem;
    --ifm-h2-font-size: 2rem;
    --ifm-h3-font-size: 1.25rem;
    --wm-helfull-resources-color: #555967;
    --wm-helfull-resources-title-color: #000;
    --wm-banner-readmore-background: linear-gradient(93deg, rgba(215, 241, 255, 0.34) 1%, #f1f8fc 82%, rgba(241, 248, 252, 0.6) 82%);
    --wm-secondary-text-color: #61676c;
    --wm-secondary-bg-color: rgb(253, 253, 254);
    --wm-secondary-border-color: rgb(212 213 216);
    --wm-card-bg: #fff;
    --wm-card-bg-hover: #fff;
    --wm-card-text: #000;
    --wm-card-text-hover: #000;
    --wm-card-bg-gradient: #fff;
    /* linear-gradient(to bottom, rgba(85, 117, 175, 0.3), rgba(43, 64, 119, 0.3)); */
    --wm-card-bg-gradient-hover: #fff;
    /* linear-gradient(to bottom, rgba(32, 122, 213, 0.5), rgba(35, 96, 185, 0.5)); */
    --wm-card-bg-text: #000;
    --wm-card-bg-text-hover: #000;
    --ifm-footer-background-color: #4f5761;
    --wm-aside-left-background: linear-gradient(170deg, rgba(244, 246, 252, 0.56) 4%, #f4f6fc 126%, rgba(241, 248, 252, 0.6) 126%);
    --wm-aside-left-background-color: #f6f8fd;
    --ifm-menu-color-active: #000000;
    --ifm-menu-color-background-active: #c2e7ff;
    /* --ifm-h4-font-size: 1rem;
    --ifm-h5-font-size: 0.875rem;
    --ifm-h6-font-size: 0.85rem; */
    --ifm-heading-font-weight: 500;
    --ifm-button-font-weight: var(--ifm-font-weight-semibold);
    --ifm-color-success-dark: #00875a;
    /* --ifm-alert-background-color-highlight: rgba(0, 135, 90, 5%); */
    --ifm-color-success-contrast-background:    rgba(0, 135, 90, 5%);
    --ifm-color-danger-dark: #de350b;
    /* --ifm-alert-background-color-highlight: rgba(222, 53, 11, 5%); */
    --ifm-color-danger-contrast-background:rgba(222, 53, 11, 5%);
    --wm-search-highlight-color:#f4f6fc;
    --wm-search-modal-background:#ffffff;
    --wm-search-hit-background:#ffffff;
    --wm-table-bg-color:rgba(143, 146, 161,5%);
    --wm-table-border:none;
    --wm-table-tr-color:#ffffff;
    --wm-content-bg-image:none;
    --wm-content-bg-hover-image:none;
    --wm-content-bg-hover-border:#1794ef;
    --wm-card-link-hover:#1794ef;
    --wm-navbar-bottom-border:rgb(219 222 228 / 30%);
    --wm-search-head-color:#97a0b0;
    --wm-card-arrow-image-hover:url("/img/combined-shape.svg");
    --wm-button-text-color:#61676c;
    --wm-banner-img:url("/img/speaker.svg");
    --wm-close-image:url("/img/closeIcon-black.svg");
    --ifm-color-primary-contrast-background: rgb(0, 82, 204,10%);
    --ifm-color-primary-contrast-foreground:#3b454e;
    --ifm-color-primary-dark:#568adc;
    --ifm-color-secondary-contrast-background: rgb(0, 82, 204,10%);
    --ifm-color-secondary-contrast-foreground:#3b454e;
    --ifm-color-secondary-dark: #568adc;
    --ifm-color-success-contrast-background: rgb(0, 135, 90,10%);
    --ifm-color-success-contrast-foreground:#3b454e;
    --ifm-color-success-dark: #00875a;
    --ifm-color-info-contrast-background: rgb(152, 96, 226,10%);
    --ifm-color-info-contrast-foreground:#3b454e;
    --ifm-color-info-dark:  #9860e2;
    --ifm-color-warning-contrast-background: rgb(255, 153, 31,10%);
    --ifm-color-warning-contrast-foreground:#3b454e;
    --ifm-color-warning-dark: #ff8b00;
    --ifm-color-danger-contrast-background: rgb(222, 19, 11,10%);
    --ifm-color-danger-contrast-foreground:#3b454e;
    --ifm-color-danger-dark:  #de130b;
    --ifm-tabs-color:#3b454e;
    --ifm-tabs-color-active:#1794ef;
    --ifm-tabs-next-button-image:url("/img/nextArrow.svg");
    --ifm-tabs-prev-button-image:url("/img/prevArrow.svg");
    --mermaid-background-color:#c2e7ff;
    --mermaid-border-color:#f6f8fd;
    --wm-category-arrow-image:url("/img/chevron-right-category.svg");

}
html[data-theme="dark"] {
    --ifm-font-color-base: #b3d4ff;
    --ifm-heading-color: #ffffff;
    --ifm-navbar-background-color: #12223f;
    --ifm-color-primary: #1794ef;
    --wm-helfull-resources-color: rgba(179, 212, 255, 0.7);
    --wm-helfull-resources-title-color: rgba(255, 255, 255, 0.8);
    --wm-banner-readmore-background: linear-gradient(to bottom, rgba(72, 100, 137, 0.11) -56%, #12223f 1835%, #273951 1835%);
    --wm-secondary-text-color: #b1d2fd;
    --wm-secondary-bg-color: #12223f;
    --wm-secondary-border-color: rgb(212 213 216);
    --wm-aside-left-background: linear-gradient(to bottom, rgba(72, 100, 137, 0.11) -56%, #12223f 1835%, #273951 1835%);
    --wm-aside-left-background-color:#172a47;
    --wm-card-bg: #12223f;
    --wm-card-bg-hover: #26395a;
    --wm-card-text: #b3d4ff;
    --wm-card-text-hover: #ffffff;
    --ifm-footer-background-color: #0f1d36;
    --ifm-color-scheme: dark;
    --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
    --ifm-color-emphasis-100: var(--ifm-color-gray-900);
    --ifm-color-emphasis-200: var(--ifm-color-gray-800);
    --ifm-color-emphasis-300: var(--ifm-color-gray-700);
    --ifm-color-emphasis-400: var(--ifm-color-gray-600);
    --ifm-color-emphasis-500: var(--ifm-color-gray-500);
    --ifm-color-emphasis-600: var(--ifm-color-gray-400);
    --ifm-color-emphasis-700: var(--ifm-color-gray-300);
    --ifm-color-emphasis-800: var(--ifm-color-gray-200);
    --ifm-color-emphasis-900: var(--ifm-color-gray-100);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
    --ifm-background-color: #12223f;
    --ifm-background-surface-color: #242526;
    --ifm-hover-overlay: rgba(255, 255, 255, 0.05);
    --ifm-color-content: #e3e3e3;
    --ifm-color-content-secondary: rgba(255, 255, 255, 1);
    --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%) hue-rotate(149deg) brightness(99%) contrast(95%);
    --ifm-code-background: rgba(255, 255, 255, 0.1);
    --ifm-scrollbar-track-background-color: #444444;
    --ifm-scrollbar-thumb-background-color: #686868;
    --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;
    --ifm-table-stripe-background: rgba(255, 255, 255, 0.07);
    --ifm-toc-border-color: transparent;
    --ifm-color-primary-contrast-background: rgb(0, 82, 204,10%);
    --ifm-color-primary-contrast-foreground: #cfd2d8;
    --ifm-color-primary-dark:#568adc;
    --ifm-color-secondary-contrast-background: rgb(0, 82, 204,10%);
    --ifm-color-secondary-contrast-foreground: #cfd2d8;
    --ifm-color-secondary-dark: #568adc;
    --ifm-color-success-contrast-background: rgb(0, 135, 90,10%);
    --ifm-color-success-contrast-foreground: #cfd2d8;
    --ifm-color-success-dark: #00875a;
    --ifm-color-info-contrast-background: rgb(152, 96, 226,10%);
    --ifm-color-info-contrast-foreground: #cfd2d8;
    --ifm-color-info-dark:  #9860e2;
    --ifm-color-warning-contrast-background: rgb(255, 153, 31,10%);
    --ifm-color-warning-contrast-foreground: #cfd2d8;
    --ifm-color-warning-dark: #ff8b00;
    --ifm-color-danger-contrast-background: rgb(222, 19, 11,10%);
    --ifm-color-danger-contrast-foreground: #cfd2d8;
    --ifm-color-danger-dark:  #de130b;
    --docsearch-container-background: #12223f;
    --wm-search-highlight-color:#f4f6fc;
    --wm-search-modal-background:#ffffff;
     --wm-search-hit-background:#ffffff;
     --wm-table-tr-color:transparent;
     --wm-content-bg-image: linear-gradient(to bottom, rgba(85, 117, 175, 0.3), rgba(43, 64, 119, 0.3));
     --wm-content-bg-hover-border:rgba(65, 131, 255, 0.8);
     --wm-content-bg-hover-image:linear-gradient(to bottom, rgba(32, 122, 213, 0.5), rgba(35, 96, 185, 0.5));
     --wm-navbar-bottom-border:rgb(51 66 92 / 30%);
     --wm-search-head-color:#97a0b0;
     --wm-card-arrow-image:url("/img/arrow_blue.svg");
     --wm-card-arrow-image-hover:url("/img/arrow_white.svg");
     --wm-card-link-hover:#ffffff;
     --wm-button-text-color:#ffffff;
     --wm-banner-img:url("/img/speaker_blue.svg");
     --wm-close-image:url("/img/closeIcon-blue.svg");
     --ifm-tabs-color:#b3d4ff;
     --ifm-tabs-color-active:#ffffff;
     --ifm-tabs-next-button-image:url("/img/nextArrow_dark.svg");
     --ifm-tabs-prev-button-image:url("/img/prevArrow_dark.svg");
     --mermaid-background-color:#172a47;
     --mermaid-border-color:#c2e7ff;
     --wm-category-arrow-image:url("/img/chevron-right-category-dark.svg");
     --ifm-toc-link-color-dark:#000000;
     
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
/* your custom css */
body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.button.button--secondary {
    color: var(--wm-secondary-text-color);
    background-color:var(--wm-secondary-bg-color);
    border-color: var(--wm-secondary-border-color);
}
.button.button--secondary:hover{
    color: var(--ifm-color-primary);
}

.logo-name img {
    margin-bottom: -5px;
    margin-right: 2px;
}

.spl-icon {
    position: relative;
}

.spl-icon::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 24px;
    background-image: url("/img/cube.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.alert{
    box-shadow: none;
}

.header-right::before {
    opacity: 0.5;
    top: 0;
    right: 5%;
}

.footer {
    background-color: var(--ifm-footer-background-color);
    color: #ffffff;
}

.copyright-text {
    padding-top: var(--ifm-footer-padding-vertical);
    border-top: 1px solid rgb(255 255 255 / 5%);
    color: rgba(255, 255, 255, 0.6);
}

.footer-actions {
    padding-bottom: 1.5rem;
}

.footer-actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-actions li {
    display: inline-block;
    margin: 10px 0 0;
}

.footer-actions a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 10px;
}

.footer-actions a:hover,
.footer-actions a:focus {
    color: #fff;
    text-decoration: none;
}

.extra-links {
    text-align: center;
}

.extra-links a {
    margin: 0 23px;
    font-weight: bold;
}

.social-media-links {
    text-align: right;
}

.markdown h1:first-child{
    --ifm-h1-font-size: 2.5rem;
}
.markdown > h2{
    --ifm-h2-font-size: 2rem;
}
/* h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
} */

.box-shadow--none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.headerSignIn {
    color: #fff;
    background-color: #ff6221;
    border-color: #ff6221;
}

.headerSignIn:hover,
.headerSignIn:focus {
    color: #fff;
    background-color: #d3511b;
    border-color: #d3511b;
}

/* Added Style for Banner */
.banner {
    background-image: url(../img/bannerImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10px 10px;
    height: 386px;
    position: relative;
}

html[data-theme="dark"] .banner{
    background-image: url(../img/bannerImage-dark.svg);
}

.banner.spl-icon.footer-left::before {
    width: 34px;
    height: 30px;
    bottom: 17px;
    left: 5%;
}

.banner .banner-content {
    height: 100%;
    align-items: center;
}

.banner .banner-content .banner-Title {
    font-size: 42px;
}

.banner .banner-search {
    /* position: relative; */
    width: 499px;
    margin: 2em auto;
}
.banner-search.active{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
}

.header-searchBar {
    align-items: center;
    justify-content: center;
    width: 350px;
}

.header-searchBar .DocSearch {
    width: 100%;
    padding: 18px 23px;
    font-size: 18px;
    border-radius: 29px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
    color: #000;
    border: none;
}

.header-searchBar .DocSearch-Button-Keys {
    display: none;
}

.banner-search .DocSearch {
    width: 100%;
    height: 58px;
    padding: 18px 23px;
    font-size: 18px;
    border-radius: 29px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    color: #000;
    border: none;
}

.banner-search .DocSearch-Search-Icon {
    display: none;
}

.banner-search .DocSearch-Button-Keys {
    display: none;
}

.banner-search .navSearchWrapper {
    padding-left: 0;
}

.banner-search .navSearchWrapper .algolia-autocomplete {
    width: 100%;
}

.banner-search .searchInput {
    width: 100%;
    height: 58px;
    padding: 18px 23px;
    font-size: 18px;
    border-radius: 29px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    color: #000;
    border: none;
}

.banner-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    min-height: 44px;
    padding: 10px 30px;
    border-radius: 0px 0px 8px 8px;
    backdrop-filter: blur(4px);
    background-image: var(--wm-banner-readmore-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-footer-msg {
    color: var(--wm-secondary-text-color);
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.banner-footer-msg img {
    margin: -5px 15px;
    content:var(--wm-banner-img);
}

.banner-footer-action {
    margin: 0 2em;
    text-decoration: underline;
    font-size: 16px;
}

.banner-footer-closeAction {
    position: absolute;
    right: 15px;
    top: calc(50% - 7px);
    display: inline-flex;
}

.banner-footer-closeAction img {
    width: 14px;
    content:var(--wm-close-image);
}

.category {
    text-decoration: none;
    color: var(--wm-card-text);
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    padding: 20px 15px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--wm-card-bg);
    border-radius: 8px;
    object-fit: contain;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.category::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 20px;
    right: 25px;
    height: 16px;
    width: 15px;
    background-image:var(--wm-category-arrow-image); 
    background-repeat: no-repeat;
    background-size: 15px 16px;
}

.category::before {
    right: 38px;
}

.category:hover,
.category:focus {
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
    /* transform: translate(0, -10px); */
    text-decoration: none;
    background-color: var(--wm-card-bg-hover);
    color: var(--wm-card-text-hover);
}

.category:hover::before,
.category:hover::after,
.category:focus::before,
.category:focus::after {
    display: inline-block;
}

.category:hover *,
.category:focus *{
    filter: contrast(2);
}

.category .icon {
    height: 48px;
    margin: 0 11px;
}

.category .caption {
    margin: 0 11px;
    word-break: break-word;
    font-weight: normal;
    max-width: 120px;
}


.first-widget {
    height: 400px;
}

.widget {
    height: 198px;
    padding: 37px 23px 30px;
}

.first-widget,
.widget {
    margin: 2px;
    min-height: 100px;
    max-width: 300px;
    object-fit: contain;
    position: relative;
    background-color: #ffffff;
    align-items: flex-start;
    border-radius: 15px;
    border: solid 1px rgba(131, 143, 162, 0.3);
    box-shadow: 0 40px 300px 0 rgba(181, 190, 199, 0.3);
    text-align: left;
    transition: top ease 0.5s;
    flex-direction: column;
}

.first-widget img {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;

}

.widget img {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 100%;
}

.widget-container .content {
    padding: 37px 23px 30px;
}

.extension {
    flex-direction: column;
    margin: 0;
    height: 248px;
    min-height: 100px;
    object-fit: contain;
    position: relative;
    padding: 20px;
    font-size: 14px;
    color: var(--wm-card-text);
    background-image: var(--wm-content-bg-image);
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba(131, 143, 162, 0.3);
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.extension:hover,
.extension:focus {
    color: var(--wm-card-text-hover);
    background-image: var(--wm-content-bg-hover-image);
    border: 1px solid var(--wm-content-bg-hover-border);
    text-decoration: none;
    transform: translate(0, -15px);
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
}

.extension .icon {
    object-fit: none;
    height: 68px;
    margin: 1em 0 1.5em;
}

.extension .caption {
    font-size: 20px;
    font-weight: normal;
    margin: 0.5em 0 1em;
}

/* .extension:hover .caption,
.extension:focus .caption {
    font-weight: bold;
} */

.extension .link {
    margin: 0.5em 0;
    /* color: #66737e; */
}

.extension .link img {
    margin-left: 0.5em;
}

.extension:hover .link,
.extension:focus .link {
    color: var(--wm-card-link-hover);
}

.extension:hover .link img,
.extension:focus .link img {
    content: var(--wm-card-arrow-image-hover)!important;
}
html[data-theme="dark"] .extension .link img{
    content: url("/img/arrow_blue.svg");
}
.helpfull-resources {
    background-image: url("/img/wave-lines.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 calc(100% + 80px);
}

.helpfull-resources .col {
    border: 1px dashed rgb(151 151 151 / 50%);
    border-width: 0 0 0 1px;
}

.helpfull-resources .col:first-child {
    border-width: 0;
}

.helpfull-resources ul {
    margin: 0;
    padding: 1em 1em 0 1em;
    list-style: none;
}
.helpfull-resources ul li:first-child a {
    font-size: 20px;
    color: var(--wm-helfull-resources-title-color);
    font-weight: 500;
}

.helpfull-resources ul li:first-child a::after {
    display: none !important;
    top: 10px;
}

.helpfull-resources ul li+li {
    margin-top: 18px;
}

.helpfull-resources a {
    display: flex;
    color: var(--wm-helfull-resources-color);
    position: relative;
    font-size: 0.8em;
    /* padding-right: 15px; */
}

.helpfull-resources a:after {
    display: none;
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    height: 14px;
    width: 8px;
    background-image: url("/img/chevron-right.svg");
    background-repeat: no-repeat;
    background-size: 8px 14px;
}

.helpfull-resources a:hover,
.helpfull-resources a:focus {
    text-decoration: none;
    color: #1794ef;
}

.helpfull-resources a:hover:after,
.helpfull-resources a:focus:after {
    display: inline-block;
}


.imagebox-img {
    display: block;
    min-height: 113px;
    background-color: #f4f4f4;
}

.imagebox-img img {
    max-height: 100%;
    background-size: 100%;
}

.content-blocks h1 {
    font: 24px Lato, Arial, Helvetica, sans-serif;
    color: #333333;
}

.content-blocks h1,
.content-blocks p {
    margin: 15px 0 0 0;
    line-height: 1.7;
}

.content-blocks a {
    background: #1794ef;
    border: 2px solid #1794ef;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 9px 14px 9px 14px;
    margin: 10px 2px 0 0;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.content-blocks a:hover,
.content-blocks a:focus {
    background-color: #333333;
    border-color: #333333;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #000;
    font-size: 14px;
    font-weight: 600;

}

.toc .toggleNav ul li a {
    border: none;
    color: #717171;
    display: block;
    font-size: 13px;
    padding: 4px 0;
    transition: color 0.3s;
}

/* start - 404 page styles */

.error404 .wrapall,
.error404 .boxed-layout {
    background-color: #ffffff;
}

.error404 .wrapall {
    margin: 0;
    padding: 0;
    background: #ffffff;
    min-width: 1200px;
}

#transparentimage {
    position: relative;
    padding: 90px 0 0 0;
    background-position: center center;
    background-size: cover;
}

#transparentimage {
    padding: 80px 0 0 0;
}

#transparentimage {
    background-image: url(../img/Waves-White-header.png), linear-gradient(108deg, #13547a, #80d0c7) !important;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 0px 50px 0px;
}

.error404 .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.error404 .container .sixteen.columns {
    width: 1160px;
}

#transparentimage h1,
#transparentimage .title-h1 {
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 140px 0;
    margin: 0;
    font-size: 32px;
    position: relative;
    z-index: 1;
}

#fullimagecenter h1,
#transparentimage h1,
#fullimagecenter .title-h1,
#transparentimage .title-h1 {
    font: 600 50px Raleway, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 1.9px;
    text-align: center;
}

#transparentimage h1 {
    padding: 0px;
    text-align: center;
}

.error404 .blog_title_bottomwave {
    background-image: url(../img/Wave_featuredcontent.png), linear-gradient(50deg, #13547a, #80d0c7) !important;
    background-position: top;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Negative margin on Page Wrap */
#page-wrap {
    position: relative;
    clear: both;
    float: none;
}

#page-wrap {}

#content {
    padding-top: 60px;
    padding-bottom: 40px;
}

.page-404 .entry {
    text-align: center;
    padding: 40px 0 80px 0;
}

.page-404 h2 {
    font-size: 100px;
    color: #666666;
    font-weight: 700;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: 10px solid #999999;
    color: #999999;
    border-radius: 50%;
    margin: 0 auto 60px auto;
}

.page-404 h3 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    color: #999999;
    text-transform: uppercase;
}

/* End - 404 page styles */

@media only screen and (min-width: 736px) and (max-width: 1152px) {
    .banner {
        /* margin: 20px 32px 25px; */
        height: 386px;
        position: relative;
    }

    .banner .banner-search {
        width: 499px;
    }

    .banner .banner-search .navSearchWrapper {
        width: 100%;
    }

    .categories .col {
        padding: 0 2rem;
        --ifm-col-width: 50%;
        flex: auto;
    }

    .category {
        margin: 10px 0;
        height: 120px;
    }

    .extensions .col {
        --ifm-col-width: 33.33%;
        flex: auto;
    }

    .extensions {
        padding: 2rem;
    }

    .extensions .row {
        justify-content: center;
    }

    .extensions .col {
        padding: 0.5rem 1rem !important;
    }

    .extension {
        margin: 10px 0;
        width: 100%;
    }


    .helpfull-resources .row {
        /* justify-content: center; */
    }

    .helpfull-resources ul {
        padding: 1em;
    }

    .helpfull-resources .col {
        border-width: 0 0 1px 0;
        --ifm-col-width: 33.33%;
        flex: auto;
    }

    .helpfull-resources .col:nth-child(2) {
        border-width: 0 1px;
    }

    .helpfull-resources .col:nth-child(4) {
        border-width: 1px 0 0 0;
    }

    .helpfull-resources .col:nth-child(5) {
        border-width: 1px 0 0 1px;
    }

    .footer-actions {
        text-align: center;
        align-items: center;
    }

    .extra-links {
        margin: 1.5rem 0;
    }

    .social-media-links {
        text-align: center;
    }

}

@media only screen and (min-width: 320px) and (max-width: 736px) {
    .footer-actions {
        text-align: center;
    }

    .extra-links {
        margin: 1.5rem 0;
    }

    .social-media-links {
        text-align: center;
    }

    .banner {
        position: relative;
        /* margin: 20px 10px 25px; */
        height: 65vh;
        max-height: 326px;
    }

    .banner .banner-search {
        width: 100%;
        max-width: 400px;
    }

    .banner .banner-search .navSearchWrapper {
        width: 100%;
    }

    .banner .banner-search input#search_input_react {
        width: 100%;
        height: 58px;
        padding: 8px 20px 8px 20px;
        border-radius: 29px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        color: #000;
        border: none;
    }

    .category {
        margin: 10px 0;
        height: 120px;
    }

    .extension {
        margin: 10px 20px;
    }

    .helpfull-resources {
        background-size: auto;
    }

    .helpfull-resources .col+.col {
        border-width: 1px 0 0 0;
    }

    .helpfull-resources ul {
        padding: 1em;
    }

    .fixedHeaderContainer a {
        display: none;
    }

    .navigationSlider .slidingNav ul {
        margin-top: 0;
        overflow-x: inherit;
    }

    .navPusher {
        padding-top: 50px;
    }

    .navigationSlider .slidingNav ul li {
        display: none;
    }

    .navigationSlider .slidingNav ul li:first-child {
        display: block;
        flex: 0;
        margin-left: 10px;
    }

    .navigationSlider .slidingNav ul li:last-child {
        display: block;
    }

    .navigationSlider .slidingNav ul li.navSearchWrapper {
        width: 77%;
    }
#header-search .DocSearch-Modal{
    height:auto !important;
}
.navbar--fixed-top .navbar__items{
    height:100%;
}
.navbar__title.text--truncate{
    display:none;
}
.navbar-sidebar__back, article .clean-btn{
    color:var(--ifm-menu-color-active);
}

}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a {
        color: #24292e;
        font-weight: 400;
        height: 34px;
    }

    .navigationSlider .slidingNav ul li a:hover,
    .navigationSlider .slidingNav ul li a:focus,
    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: #1994ef;
        border-radius: 0;
        background-color: transparent;
    }
}

.theme-doc-sidebar-container{
    /* background-color: var(--wm-aside-left-background-color); */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-image: var(--wm-aside-left-background);
    /* linear-gradient(171deg, rgba(244, 246, 252, 0.56) 4%, #f4f6fc 127%, rgba(241, 248, 252, 0.6) 127%); */
}
#header-search{

}
body:not(.search-active) #header-search .DocSearch-Modal{
    margin:0;
    background-color: transparent;
    box-shadow: none;
}

body:not(.search-active) #header-search .DocSearch-LoadingIndicator svg, body:not(.search-active) #header-search .DocSearch-MagnifierLabel svg{
    width: 20px !important;
}
body:not(.search-active) #header-search .DocSearch-Modal > *{
    padding:0;
}

body:not(.search-active) #header-search .DocSearch-Modal .DocSearch-Dropdown{
    display: none;
}

body:not(.search-active) #header-search .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form{
    height: 40px;
    border-radius: 20px;
    box-shadow: none;
    /* border: 1px solid #dbdde1; */
    border: none;
    max-width: 160px;
    margin: 0 0.5rem;
    /* margin-right: 0.5rem; */
}

body:not(.search-active) #header-search .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input{
    font-size: 1em;
}

.docMainContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Main-styles-module{
    padding: 0 var(--ifm-spacing-horizontal);
}

.navbar{
    box-shadow: 0 1px 0 0px  var(--wm-navbar-bottom-border);
}

.navbar__items--right > .navbar__item:last-child{
    /* margin-left: 0.5rem; */
    padding-right: var(--ifm-navbar-item-padding-horizontal);
}
.navbar__items--right > .button{
    margin-left: 0.5rem;
}
.menu__link{
    font-size: 0.8rem;
}
.menu__link--sublist-caret:after{
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
.menu__caret:before{
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
.menu__link--active:not(.menu__link--sublist){
    /* background-color: transparent; */
    /* color: var(--ifm-color-primary); */
}
.menu__list-item-collapsible .menu__link{
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
}
.menu__list-item-collapsible .menu__link+.menu__caret{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
    margin-left: -44px;
    /* //-0.5rem; */
}
.menu__list-item-collapsible .menu__link--active:hover,
.menu__list-item-collapsible .menu__link--active{
    background-color: var(--ifm-menu-color-background-active) !important;
    opacity: 0.65;
}
/* .menu__list-item-collapsible .menu__link:hover+.menu__caret, */
.menu__list-item-collapsible .menu__link--active+.menu__caret{
    /* background-color: var(--ifm-menu-color-background-active); */
}

button[aria-label="Collapse sidebar"] svg{
    transform: scale(0.75) rotate(180deg);
}
button[aria-label="Collapse sidebar"] svg > g,[aria-label="Expand sidebar"] svg > g{
    fill: var(--ifm-color-primary);
}
[aria-label="Expand sidebar"] svg{
    transform: scale(0.75) rotate(0deg);
}


.index .navbar{
    box-shadow: none;
}


.feedback-container{
    /* border: 1px solid #dbdde1; */
    /* border-radius: 6px; */
    display: flex;
    margin-top:0 !important;
    /* padding: 1rem; */
}

.github-link{
    display: inline-flex;
    align-items: center;
}

.github-link img{
    margin-right: 0.5rem;
    width:16px;
}

body.search-active{
    overflow: hidden !important;
}

body.search-active .banner-search,
body.search-active #header-search{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(78, 122, 193, 0.5);
    margin: 0 auto;
    padding: 3rem;
}

body.search-active #header-search .DocSearch-LoadingIndicator svg,
body.search-active #header-search .DocSearch-MagnifierLabel svg{
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}

body.search-active .DocSearch-Modal{
    box-shadow: 0 8px 22px 0 rgba(37, 44, 97, 15%), 0 4px 6px 0 rgba(93, 100, 148, 20%);
    background-color: #fff;
    max-width: 920px;
    margin: 0 auto;
    max-height: calc(100vh - 6rem);
    overflow: hidden;
    display: flex;
}

body.search-active .DocSearch-Modal .DocSearch-Form{
    border-radius: 0;
}

body.search-active .DocSearch-Modal .DocSearch-Dropdown{
    height: 100%;
}

.DocSearch-Hit-source{
    margin: 0 !important;
    padding: 10px 20px 0px 20px !important;
    text-transform: uppercase;
    letter-spacing: 0.85px;
    color: var(--wm-search-head-color) !important;
    background:var(--wm-search-modal-background)!important;
    font-weight: 500 !important;;
}
/* .DocSearch-Hit{
    padding-bottom: 1px !important;
} */

.DocSearch-Hits:last-of-type {
    margin-bottom: 0 !important;
}

.DocSearch-Hit-content-wrapper{
    width: 100% !important;
    flex-direction: row !important;
    overflow: visible;
}

.DocSearch-Hit-content-wrapper .search-value{
    width: 180px;
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
    padding-right: 20px;
    margin-right: 20px;
    position: relative;
}
.DocSearch-Hit-content-wrapper .search-value:before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #e5e7ed;
    right: 0;
    top: 0;
}

.DocSearch-Hit-content-wrapper .search-info{
    width: calc(100% - 200px);
    white-space: normal;
}

.algolia-docsearch-suggestion--highlight{
    color: var(--ifm-color-primary);
}
.DocSearch-Hit a{
    border-radius: 5px;
    border:1px solid #f2f2f2;
    background-color:var(--wm-search-hit-background) !important;
    box-shadow:none!important;
}
.DocSearch-Hit-Container{
    height: auto !important;
    padding: 12px 0 !important;
}

.DocSearch-Hit[aria-selected=true] a{
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 25%);
    z-index: 9 !important;
    background-color:var(--wm-search-highlight-color) !important;
}
.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-Container,.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-Container .DocSearch-Hit-path{
    color: var(--wm-bg-text-color) !important;
}

.DocSearch-Hit[aria-selected=true] .algolia-docsearch-suggestion--highlight{
    color: var(--wm-bg-text-color);
    text-decoration: underline;
}

.DocSearch-HitsFooter{
    margin: 0 !important;
}
.DocSearch-HitsFooter:empty{
    display: none;
}


@media only screen and (max-width: 1023px) {
    iframe{
        width: 100%;
    }
    body.search-active .banner-search,
    body.search-active #header-search{
        padding: 0;
    }
    body.search-active .DocSearch-Modal{
        max-height: 100vh;
    }
    .DocSearch-Cancel{
        display: none !important;
    }
}

@media only screen and (min-width: 1280px) {}


@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

@media (min-width: 997px){
    @supports (scrollbar-gutter: stable){
        .menu_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-Content-styles-module {
            padding: 1rem !important;
            scrollbar-gutter: stable;
        }
    }
    .docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module{
        border-right:var(--ifm-toc-border-color)!important;
    }
    aside div button[title="Collapse sidebar"]{
        background-color:transparent!important;
        box-shadow:0px 1px 0px inset var(--wm-navbar-bottom-border);
        border-color:transparent !important;
    }
    .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module:hover, .collapseSidebarButton_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-CollapseButton-styles-module:focus {
        background-color: var(--ifm-color-emphasis-200)!important;
    }
}
#header-search .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form{
    border-bottom:1px solid #f2f2f2;
}

/* Data table changes */

table{
    background:var(--wm-table-bg-color);
    border-collapse: separate;
    border-spacing:0 6px;
    padding:0px 15px 10px 15px;
    border-radius:10px;
    width:100%; 
    word-break: break-word;
}
table tr{
    border-top:var(--wm-table-border);
}
table thead tr{
    border-bottom:var(--wm-table-border);
}
table th,table td{
    border: var(--wm-table-border);
    min-width: 140px;
    max-width: 100%;
}
table tbody tr,table tr:nth-child(2n){
    background-color:var(--wm-table-tr-color);
    background-image: var(--wm-content-bg-image);
}
table thead{
    background-color:transparent;
}
table thead th{
    padding:10px 0;
}
table tr td:first-child{
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 

}
table tr td:last-child{
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 

}

/* cards design */
.widget-cards .col{
    flex:0 0 33.33%;
    padding:30px 15px 0;
}

.widget-cards .card-content{
    border-radius: 12px;
  box-shadow:inset 0 0 0 1px rgb(131 143 162 / 30%);
  background-image: var(--wm-content-bg-image);
  padding: 20px;
  margin:0;
  font-size:13px;
  height:100%;
  display:flex;
  flex-direction: column;
}
.widget-cards .card-header{
    display: flex;
}

.widget-cards .card-content label{
    color:var( --ifm-heading-color);
    padding-left:10px;
    font-size:16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}
.card-content .card_links{
    font-weight:500;
    text-align:right;
    flex:1;
}
.widget-cards .card-body{
    height:100%;
    margin:10px 0;
}

.navbar__item.navbar__link.button.button--secondary{
    color:var(--wm-button-text-color);
}
.row.banner-content .DocSearch-Form{
    background:var(--wm-search-modal-background);
}
.row.banner-content .DocSearch-Input{
    color:#67859e;  
}
.DocSearch-Hit{
    padding:0 20px;
}
.alert a{
    color:#1794ef;
    text-decoration-color:#1794ef;
}
.admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module{
    color:var(--ifm-alert-border-color);
    text-transform: capitalize!important;
}
.admonitionIcon_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-styles-module svg{
    fill:var(--ifm-alert-border-color)!important;
}
.tabs{
    font-weight:normal;
    position:relative;
    margin:0 30px;
}
.tabs .tabs__item{
    flex:none;
}
.tabs::-webkit-scrollbar{
    display: none;
}
.tabs-container {
    position:relative;
}
.tabs-container .nextBtn, .tabs-container .prevBtn{
    border:none;
    width:35px;
    height:35px;
    position:absolute;
    top:13px;
    z-index:2;
    cursor:pointer;
    
}
.tabs-container .nextBtn{
    background:var(--ifm-tabs-next-button-image) no-repeat;
    right:-3px;
    
}
 .tabs-container .prevBtn{
    background:var(--ifm-tabs-prev-button-image) no-repeat;
    left:-3px;
    
}
.theme-doc-version-badge{
    margin-bottom:0.4rem;
}
@media (max-width: 1000px) {
    .card-group .col{
        flex:0 0 50%;
    }
    .table-of-contents__link {
        color: var(--ifm-toc-link-color-dark);
    }
}
@media (max-width: 700px) {
    .card-group .col{
        flex:0 0 100%;
    }
    .theme-doc-version-badge {
        margin-bottom: 0;
    }
}
@media (min-width: 997px)

{
    html.docs-doc-id-app-development\/widgets\/widget-library body main .container .row .col:first-child{
    max-width: 100% !important;

}
}
/* Mermaid css */
.docusaurus-mermaid-container .node rect, .docusaurus-mermaid-container .node polygon{
    fill: var(  --mermaid-background-color) !important;
    stroke: var(--mermaid-border-color) !important;
}
.docusaurus-mermaid-container .edgeLabel{
    background-color: var(--wm-aside-left-background-color) !important;
}
.docusaurus-mermaid-container span{
    color:var(--ifm-font-color-base) !important;
}
 .docusaurus-mermaid-container .flowchart-link{
    stroke:var(--ifm-heading-color) !important;
}
.docusaurus-mermaid-container .marker{
    fill:var(--ifm-heading-color) !important;
}
h2.widget-header{
    margin-top:2em !important;
    margin-bottom:0px !important;
}
.DocSearch-MagnifierLabel .DocSearch-Search-Icon{
    display: block;
    margin-left:8px;
}
.DocSearch-MagnifierLabel .DocSearch-Search-Icon path{
    stroke:rgb(118,118,118,0.6);
}
.main-wrapper main{
    padding:0 var(--ifm-spacing-horizontal);
}
.menu__link--active.menu__link--sublist-caret:after,.tocCollapsibleButton_node_modules-\@docusaurus-theme-classic-lib-theme-TOCCollapsible-CollapseButton-styles-module::after{
    filter:invert(100%) sepia(94%) saturate(17%) hue-rotate(223deg) brightness(0%) contrast(98%) !important;
}
.versiontdbgcolor{
    background-color: #44aaf4;
}




   