/* your custom css */
body {
    margin: 0;
    
}

h1 {
    font-size: 42px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

.headerWrapper.wrapper {
	max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.navigation ul, .social-media-list ul{
    display: block;
    text-align: center;
    margin: 0;
    padding:0;
    list-style: none;
}

.navigation ul li, .social-media-list ul li {
    padding: 5px 15px;
    display: inline-block;
    float: none;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navigation ul li a {
    font: 14px Lato, Arial, Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -ms-transition: color 0.1s;
    -o-transition: color 0.1s;
    transition: color 0.1s;
}
.logo-col {
    padding: .5em 0 0;
}

.header {
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}
.header .nav-menu ul li a{
    font-weight: bold;
    color: #1794ef;
    text-transform: capitalize;
}
.header .navigation.nav-menu > ul > li:hover {
    background-color: #1794ef;
    padding: 5px 15px;
    border-radius: 2px;
    color: #fff;
}
.header .navigation.nav-menu > ul > li:hover a {
    color: #fff;
}

.main-container {
    min-height: 80vh;
	font-family: 'Lato',' Arial', 'Helvetica', sans-serif;
    background-color: #f9f9f9;
	padding-bottom: 30px;
}

.banner {
    //background-color: #45aaf4;
    //background: linear-gradient(60deg, #0566ad, #1f95eb);
    color: #fff;
    width: 100%;
    min-height: 230px;
    margin: 0 0 10px;
	position: relative;
}
.banner .column {
    padding: 1.5em;
}
.banner h1 {
	margin-top: .85em;
}

.banner .column:last-child {
	padding-top: 2em;
}
.banner .cta {
    width: 150px;
    outline: 0;
	text-align: center;
    background-color: #ee7e4f;
    padding: 12px 15px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ee7e4f;
    font-size: 14px;
    margin: 30px 15px 10px 0;
    color: #fff;
	display: inline-block;
    text-transform: uppercase;
    font-family: Lato, " Arial", Helvetica, sans-serif;
    color: #fff;
	cursor: pointer;
}

.banner .cta:hover {
	background: #e6703c;
    border-color: #e6703c;
}
.banner .cta.secondary {
	background: transparent;
	border-color: #1794ef;
    color: #1794ef;
}
.banner .cta.secondary:hover {
	background: #1794ef;
    border-color: #097fd5;
    color: #fff;
}

.banner h1 {
    font-size: 40px;
}
.banner h1, .banner h4 {
    font-weight: 400;
    margin-bottom: 0px;
	line-height: 1.4;
	color: #097fd5;
}

.content-wrapper {
    padding: 10px 10px 20px 10px;
}
.content-blocks {
    background: #ffffff;
    color: #777777;
    display: block;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.03);
    overflow: hidden;
    min-height: 200px;
    padding: 20px;
}
.imagebox-img {
    display: block;
	min-height: 113px;
	background-color: #f4f4f4;
}
.imagebox-img img{
	max-height: 100%;
	background-size: 100%;
}
.content-blocks h1 {
    font: 24px Lato, Arial, Helvetica, sans-serif;
    color: #333333;
}
.content-blocks h1, .content-blocks p {
    margin: 15px 0 0 0;
    line-height: 1.7;
}
.content-blocks p {
    font-family:  Lato, Arial, Helvetica, sans-serif;
}
.content-blocks a {
    background: #1794ef;
    border: 2px solid #1794ef;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 9px 14px 9px 14px;
    margin: 10px 2px 0 0;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.content-blocks a:hover {
    background-color: #333333;
    border-color: #333333;
}


.footer {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    font-family: Lato, Arial, Helvetica, sans-serif;
}

#logo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
}
#logo img {
    width: 100px;
    padding: 0 10px;
}
.navigation  {
    padding: 1.2em 0;
    display: block;
}


.navigation > ul > li:hover > a, .navigation > ul > li > a:hover {
    color: #1794ef;
}

.social-media-list ul {
    text-align: right;
}
.social-media-list ul li {
    margin: 15px 4px 0 0;
    width: auto;
    height: auto;
    padding: 0;
}
.social-media-list ul li a {
    background-color: #f2f2f2;
    border-radius: 30px;
    width: 32pt;
    height: 32pt;
    opacity: 1;
    line-height: 1.8;
    display: inline-block;
}
.social-media-list ul li a i{
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    color: #888888;
}
.social-media-list ul li:hover a i {
    color: #1794ef;
}
.social-media-list ul li:first-child a i {
    padding: 10px 15px;
}
#copyright {
    background: #ffffff;
    color: #777777;
    padding: 15px 0 13px 0;
}
#copyright .container {
    display: block;
}
#copyright .copyright-text {
    font-size: 12px;
    text-align: center;
    font: 400 12px Lato, Arial, Helvetica, sans-serif;
}
#copyright a {
    font-weight: 700;
    color: #333c4e;
    font-size: 14px;
    text-decoration: none;
}

.fixedHeaderContainer {
	//background-color: #097FD5;
	background-color: #fff;
	box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
}
.headerTitleWithLogo {
    color: #097FD5;
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
	color: #393939;
    font-size: 15px;
    font-weight: 400;
	
}

.toc .toggleNav ul li a {
    border: none;
    color: #717171;
    display: block;
    font-size: 13px;
    padding: 4px 0;
    transition: color 0.3s;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
	background-color: #066db7;
}

.navigationSlider .slidingNav ul li:last-child a {
    background-color: #1794ef;
    border-radius: 2px;
    color: #fff;
}

/* start - 404 page styles */

.error404 .wrapall, .error404 .boxed-layout {
    background-color: #ffffff;
}

.error404 .wrapall {
    margin: 0;
    padding: 0;
    background: #ffffff;
    min-width: 1200px;
}

#transparentimage {
    position: relative;
    padding: 90px 0 0 0;
    background-position: center center;
    background-size: cover;
}

#transparentimage {
    padding: 80px 0 0 0;
}

#transparentimage {
    background-image: url(../img/Waves-White-header.png),linear-gradient(108deg, #13547a, #80d0c7)!important;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 0px 50px 0px;
}

.error404 .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.error404 .container .column, .error404 .container .columns {
    float: left;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.error404 .container .sixteen.columns {
    width: 1160px;
}

#transparentimage h1, #transparentimage .title-h1 {
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 140px 0;
    margin: 0;
    font-size: 32px;
    position: relative;
    z-index: 1;
}

#fullimagecenter h1, #transparentimage h1, #fullimagecenter .title-h1, #transparentimage .title-h1 {
    font: 600 50px Raleway, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 1.9px;
    text-align: center;
}

#transparentimage h1 {
    padding: 0px;
    text-align: center;
}

.error404 .blog_title_bottomwave {
    background-image: url(../img/Wave_featuredcontent.png),linear-gradient(50deg, #13547a, #80d0c7)!important;
    background-position: top;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Negative margin on Page Wrap */
#page-wrap{
    position: relative;
    clear: both;
    float: none;
}

#page-wrap {
}

#content{
    padding-top: 60px;
    padding-bottom: 40px;
}

.page-404 .entry{
    text-align: center;
    padding: 40px 0 80px 0;
}

.page-404 h2{
    font-size: 100px;
    color: #666666;
    font-weight: 700;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: 10px solid #999999;
    color: #999999;
    border-radius: 50%;
    margin: 0 auto 60px auto;
}

.page-404 h3{
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    color: #999999;
    text-transform: uppercase;
}

/* End - 404 page styles */

@media only screen and (min-width: 320px) and (max-width: 736px) {
	.row {
        width: 100%;
    }
    
    .footer .column,
    .footer .column ul,
    .header .column {
        flex-direction: row;
        display: block;
        justify-content: center;
		text-align: center;
    }
	.column {
        flex: auto;
    }
    .fixedHeaderContainer a {
        display: none;
    }
    .navigationSlider .slidingNav ul {
        margin-top:0;
    }
    .navPusher {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1024px) {
	.navigationSlider .slidingNav ul li a{
		color: #097FD5;
		font-weight: 400;
		height: 35px;
	}
	.navigationSlider .slidingNav ul li a:hover,
	.navigationSlider .slidingNav ul li a:focus, 
	.navigationSlider .slidingNav ul li.siteNavGroupActive a { 
		color: #fff;
		border-radius: 2px;
		background-color: #097FD5;
	}
}

@media only screen and (max-width: 1023px) {

}
@media only screen and (min-width: 1280px) {
    .row {
        width: 1200px;
    }
	.footer .navigation {
		flex: 2;
	}
}


@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}