/* your custom css */
.fixedHeaderContainer {
	//background-color: #097FD5;
	background-color: #fff;
	box-shadow: 0 1px 6px 1px rgba(0,0,0,.1);
}
.headerTitleWithLogo {
    color: #097FD5;
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
	font-size: 16px;
}
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
	background-color: #066db7;
}
 
@media only screen and (min-width: 1024px) {
	.navigationSlider .slidingNav ul li a{
		color: #097FD5;
		font-weight: 400;
		height: 35px;
	}
	.navigationSlider .slidingNav ul li a:hover, 
	.navigationSlider .slidingNav ul li.siteNavGroupActive a { 
		color: #fff;
		border-radius: 3px;
		background-color: #097FD5;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}