body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1, h2, h3 {
    font-weight: 400;
    margin-bottom: 0
}

.remark-slide-content h1 {
    font-size: 3em
}

.remark-slide-content h2 {
    font-size: 2em
}

.remark-slide-content h3 {
    font-size: 1.6em
}

.footnote {
    position: absolute;
    bottom: 3em
}

li p {
    line-height: 1.25em
}

.red {
    color: #fa0000
}

.large {
    font-size: 2em
}

a, a > code {
    color: #f92672;
    text-decoration: none
}

code {
    background: none repeat scroll 0 0 #f8f8ff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 0 .2em
}

.remark-code, .remark-inline-code {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace
}

.remark-code-line-highlighted {
    background-color: #373832
}

.pull-left {
    float: left;
    width: 47%
}

.pull-right {
    float: right;
    width: 47%
}

.pull-right ~ p {
    clear: both
}

#slideshow .slide .content code {
    font-size: .8em
}

#slideshow .slide .content pre code {
    font-size: .9em;
    padding: 15px
}

.main-title, .title {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333
}

.main-title h1, .main-title h2, .title h1, .title h2 {
    color: #f3f3f3;
    line-height: .8em
}

.remark-code {
    display: block;
    padding: .5em
}

.remark-container {
    background-color: #fff;
}

.remark-slide-content {
    padding: 0;
    border: 1px solid #ccc;
}

.remark-slide-content h3, .remark-slide-content p {
    padding: 0px 40px;
}

.remark-slide-content ul {
    padding: 0 40px;
}

.remark-slide-number {
    padding: 12px 0;
    font-size: 14px;
    bottom: 0;
    right: 10em;
    color: #f5f5f5;
}

.remark-slide-scaler {
    box-shadow: 0 5px 16px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, .3);
}

.remark-slide-content h3:first-of-type {
    background: #21adf0;
    color: #fff;
    margin: 0;
    padding: 30px 25px;
}

.remark-slide-content h3::after {
    content: '';
    background-color: #21adf0;
    min-height: 35px;
    min-width: 80px;
    width: 63vw;
    height: 3.5vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-51%);
}

div.my-header {
    background-color: #F77A00;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffb76b), color-stop(0%, #ffa73d), color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(25%, #F77A00), color-stop(100%, #F77A00));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
    display: none;
}

div.slide-footer {
    background-color: #212121;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    clear: both;
}

div.slide-footer span {
    font-size: 6pt;
    position: absolute;
    padding: 8px 10px 4px;
    bottom: 0;
    color: #9a9a9a;
}

.slide-footer .action-btns {
    text-align: right;
}

.slide-footer .action-btns button {
    background-color: transparent;
    outline: none;
    border: 0;
    margin: 0 30px;
    padding: 13px 2px;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.slide-footer .arrow-right, .slide-footer .arrow-left {
    position: relative;
    top: 1px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    height: 0;
    width: 0;
    z-index: 2;
}

.slide-footer .arrow-right {
    border-left: 5px solid #fff;
}

.slide-footer .arrow-left {
    border-right: 5px solid #fff;
}

.slide-footer .arrow-left.disabled, .slide-footer .arrow-right.disabled {
    border-right-color: #5c5c5c;
    border-left-color: #5c5c5c;
    cursor: default;
}

.slide-footer .arrow-left.disabled::before {
    top: -5px;
    left: 2px;
    content: '';
    border-right: 5px solid #242424;
    position: absolute;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    z-index: 1;
}

.slide-footer .arrow-right.disabled::before {
    top: -5px;
    right: 2px;
    content: '';
    border-left: 5px solid #242424;
    position: absolute;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    z-index: 1;
}

.slide-footer .arrow-left::before {
    border-right: 5px solid #fff;
}

.slide-footer .arrow-right::before {
    border-left: 5px solid #fff;
}

.slide-footer .arrow-right::before {
    border-left: 5px solid #242424;
}

.slide-footer .col {
    float: left;
    width: 50%;
}

.slide-footer .slide-copright .image {
    padding: 3px 0 0 15px;
    display: inline-block;

}

.slide-footer .action-btns .fa-fullscreen {
    font-family: wavicon;
    width: auto;
    height: auto;
    position: absolute;
    right: 62px;
    top: 12px;
}

.slide-footer .action-btns .fa-fullscreen::before {
    content: "\f2bc";
    font-size: 14px;
}