body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
h1,h2,h3{font-weight:400;margin-bottom:0}
.remark-slide-content h1{font-size:3em}
.remark-slide-content h2{font-size:2em}
.remark-slide-content h3{font-size:1.6em}
.footnote{position:absolute;bottom:3em}
li p{line-height:1.25em}
.red{color:#fa0000}
.large{font-size:2em}
a,a>code{color:#f92672;text-decoration:none}
code{background:none repeat scroll 0 0 #f8f8ff;border:1px solid #dedede;border-radius:3px;padding:0 .2em}
.remark-code,.remark-inline-code{font-family:"Bitstream Vera Sans Mono",Courier,monospace}
.remark-code-line-highlighted{background-color:#373832}
.pull-left{float:left;width:47%}
.pull-right{float:right;width:47%}
.pull-right~p{clear:both}
#slideshow .slide .content code{font-size:.8em}
#slideshow .slide .content pre code{font-size:.9em;padding:15px}
.main-title,.title{background:#272822;color:#777872;text-shadow:0 0 20px #333}
.main-title h1,.main-title h2,.title h1,.title h2{color:#f3f3f3;line-height:.8em}
.remark-code{display:block;padding:.5em}


.remark-container {background-color: #fff;}
.remark-slide-content {padding: 0;border: 1px solid #bbb;}
.remark-slide-content h3, .remark-slide-content p {padding: 0 25px;}
.remark-slide-content ul {padding: 0 40px;}
.remark-slide-number {
    text-align: right;
    padding: 8px 10px;
    background: #212121;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #f5f5f5;
}
.remark-slide-scaler {box-shadow: 5px 5px 10px rgba(0,0,0,.3);-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);}
.remark-slide-number::before {
    content: '<';
    padding: 5px 8px;
    font-size: 12px;
    position: relative;
    top: -3px;
}
.remark-slide-number::after {
    content: '>';
    padding: 5px 8px;
    font-size: 12px;
    position: relative;
    top: -3px;
}
