:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.DocSearch-Modal{
  background-color: transparent;
  box-shadow: none;
  margin-top: 2em;
}

.DocSearch-SearchBar{
  padding: 0;
}

.DocSearch-Form{
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50px;
}

.DocSearch-Dropdown{
  padding: 0;
}