/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --ifm-container-width-xl: 1440px;

  --ifm-color-primary: rgba(23, 148, 239, 1);
  --ifm-color-primary-hover: var(--ifm-color-secondary);
  --ifm-color-dark: rgba(24, 24, 27, 1);
  --ifm-color-dark-surface: #fff;
  --ifm-color-white: rgba(255, 255, 255, 1);
  --ifm-color-primary-lightest: rgba(240, 245, 255, 1);
  --ifm-color-tertiary: rgba(9, 127, 213, 1);
  --ifm-color-secondary: rgba(11, 99, 229, 1);
  --ifm-color-blue-brand: rgba(67, 63, 237, 1);
  --ifm-link-color: rgba(9, 127, 213, 1);
  --ifm-font-color-muted: rgba(74, 74, 74, 1);

  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-color-base: rgba(0, 7, 14, 1);
  --ifm-font-size-base: 16px;
  --ifm-heading-color: rgba(24, 24, 27, 1);
  --ifm-heading-margin-bottom: 0;
  --ifm-paragraph-margin-bottom: 0;
  --ifm-h1-font-size: 2.25rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.125rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.75rem;

  /* button */
  --ifm-button-border-color: rgba(1, 2, 5, 0.63);
  --ifm-button-color: rgba(0, 0, 0, 1);
  --ifm-button-border-radius: 6px;

  /* navbar */
  --ifm-navbar-padding-vertical: 14px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-navbar-height: 66px;
  --ifm-top-nav-height: 42px;
  --ifm-navbar-shadow: none;
  --ifm-navbar-border-color: rgba(0, 0, 0, 0.08);
  --ifm-top-nav-bg: #fff;

  /* sidebar */
  --ifm-sidebar-background-color: rgba(247, 249, 251, 1);
  --ifm-sidebar-link-color: rgba(0, 7, 14, 1);
  --doc-sidebar-width: 260px;
  --ifm-menu-link-padding-vertical: 6px;
  --ifm-menu-link-padding-horizontal: 24px;
  --ifm-default-border-color: rgba(37, 44, 50, 0.1);

  /* main section */
  --ifm-spacing-horizontal: 32px;

  /**--Font--**/
  --wm-font-family-backup: 'Arial', sans-serif;
  --wm-font-family: 'DM Sans', var(--wm-font-family-backup);
  --wm-font-family-secondary: 'Inter', var(--wm-font-family-backup);
  --wm-body-font-weight: 400;
  --wm-font-weight-thin: 100;
  --wm-font-weight-extralight: 200;
  --wm-font-weight-light: 300;
  --wm-font-weight-regular: 400;
  --wm-font-weight-medium: 500;
  --wm-font-weight-semibold: 600;
  --wm-font-weight-bold: 700;
  --wm-font-weight-extrabold: 800;
  --wm-font-weight-black: 900;

  /* Font Sizes */
  --wm-h1-font-size: 2.25rem; /* 36px */
  --wm-h2-font-size: 1.5rem; /* 24px */
  --wm-h3-font-size: 1.125rem; /* 18px */
  --wm-h4-font-size: 1rem; /* 16px */
  --wm-h5-font-size: 0.875rem; /* 14px */
  --wm-h6-font-size: 0.75rem; /* 12px */

  --wm-font-lg: 3.375rem; /* 54px */
  --wm-font-md: 2.5rem; /* 40px */
  --wm-font-20: 1.25rem; /* 20px */
  --wm-font-15: 0.9375rem; /* 15px */
  --wm-font-13: 0.8125rem; /* 13px */
  --wm-font-11: 0.6875rem; /* 11px */
  --wm-font-10: 0.625rem; /* 10px */
  --wm-font-8: 0.5rem; /* 8px */

  /**--Break points--**/
  --wm-screen-lg: 1440px;
  --wm-screen-md: 1200px;
  --wm-screen-sm: 992px;
  --wm-screen-xs: 768px;

  /**--Standard utility--**/
  --wm-rule-space: 4px;
  --wm-space-0: ~'calc(var(--wm-rule-space) * 0)';
  --wm-space-1: ~'calc(var(--wm-rule-space) * 1)';
  --wm-space-2: ~'calc(var(--wm-rule-space) * 2)';
  --wm-space-3: ~'calc(var(--wm-rule-space) * 3)';
  --wm-space-4: ~'calc(var(--wm-rule-space) * 4)';
  --wm-space-5: ~'calc(var(--wm-rule-space) * 5)';
  --wm-space-6: ~'calc(var(--wm-rule-space) * 6)';
  --wm-space-7: ~'calc(var(--wm-rule-space) * 7)';
  --wm-space-8: ~'calc(var(--wm-rule-space) * 8)';
  --wm-space-9: ~'calc(var(--wm-rule-space) * 9)';
  --wm-space-10: ~'calc(var(--wm-rule-space) * 10)';
  --wm-space-11: ~'calc(var(--wm-rule-space) * 11)';
  --wm-space-12: ~'calc(var(--wm-rule-space) * 12)';

  /* icon size */

  --wm-icon-size-1: 12px;
  --wm-icon-size-2: 20px;
  --wm-icon-size-3: 24px;
  --wm-icon-size-4: 32px;
  --wm-icon-size-5: 40px;
  --wm-icon-size-6: 52px;

  /* svg */
  --wm-svg-color: #fff;

  /* homepage variable */
  --homepage-spacing: 5rem 8rem;
  --wm-max-content: 1600px;
  --wm-card-bg: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
  --wm-card-img-bg: rgba(240, 245, 255, 1);
  /* --wm-card-border-color: rgba(227, 232, 231, 1); */
  --wm-card-border-color: rgba(255, 255, 255, 1);
  --wm-section-img-bg: rgba(240, 245, 255, 1);

  /* footer variables */
  --ifm-footer-background-color: rgba(250, 250, 251, 1);
  --ifm-footer-padding-horizontal: 140px;
  --ifm-footer-padding-vertical: 80px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-background-color: #12223f;
  --ifm-navbar-background-color: #12223f;
  --ifm-footer-background-color: #12223f;
  --ifm-top-nav-bg: #586a89;
  --ifm-color-primary: #4c8dff;
  --ifm-heading-color: #fff;
  --ifm-color-dark: #fff;
  --ifm-color-dark-surface: rgba(24, 24, 27, 1);
  --ifm-font-color-base: rgba(255, 255, 255, 0.8);
  --ifm-font-color-muted: rgba(66, 82, 107, 1);
  --ifm-font-color-muted: rgba(255, 255, 255, 0.8);
  --wm-card-bg: #27395b;
  --wm-card-border-color: rgba(63, 63, 70, 0.3);
  --wm-card-img-bg: rgba(255, 255, 255, 0.7);
  --ifm-sidebar-link-color: #dadde1;
  --ifm-sidebar-background-color: linear-gradient(
    180deg,
    rgba(72, 100, 137, 0.11) -56%,
    #12223f 1835%,
    #273951 0
  );
  --ifm-color-primary-lightest: rgba(255, 255, 255, 0.15);
  --ifm-default-border-color: rgba(255, 255, 255, 0.75);
}
[data-theme='dark'] .section-title {
  --ifm-heading-color: #fff;
}
[data-theme='dark'] .env-list-item .content-wrapper .env-item-desc{
 color: inherit;
}
[data-theme='dark'] .rightside-img-section,
[data-theme='dark'] .leftside-img-section {
  background-color: transparent;
  background-image: none;
}

.markdown h1:first-child,
.markdown h1 {
  --ifm-h1-font-size: 2.5rem;
}
.markdown > h2 {
  --ifm-h2-font-size: 1.75rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  * {
    outline: none;
  }
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden !important;
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden !important;
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden !important;
}

.text-underline {
  text-underline-offset: 3px;
  text-decoration: underline;
}
.markdown {
  font-family: 'DM Sans', sans-serif;
}
.navbar {
  border-bottom: 1px solid var(--ifm-navbar-border-color);
  .navbar__brand {
    gap: 8px;
  }
  .navbar__logo {
    margin: 0;
  }
  .navbar__title {
    font-weight: 700;
  }
}
.navbar:has(+ .main-wrapper .main-wrapper-homepage) {
  background-image: url('/img/background/section-bg.svg');
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  border: none;
}

.navbar .navbar__items .DocSearch-Button {
  display: none;
}
.navbar .navbar__items {
  gap: 12px;
  font-size: 0.875rem;
}

.navbar__items--right > :last-child.button {
  padding-right: 16px;
}
.navbar-left-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}
.navbar-left-wrapper .navbar__link {
  font-size: 14px;
  font-weight: 400;
}
.dropdown > .navbar__link:after {
  border-width: 0;
  width: 12px;
  height: 12px;
  background-image: url('/img/dropdown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: bottom;
  margin-left: 6px;
}
.menu-wrapper {
  position: relative;
}

.dropdown-popover {
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  z-index: 900;
  transform: translate(-50%);
  border-radius: 8px;
  background: #fff;
  .popover-content {
    width: 18rem;
    padding: 16px 24px;
    border-radius: 12px;
    box-shadow:
      0px 4px 8px 0px rgba(0, 0, 0, 0.06),
      0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    .content-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
  }
}
.dropdown-popover .popover-content .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: rgba(241, 249, 254, 1);
  }
  .menu-icon img {
    width: 32px;
    height: 32px;
  }
  .menu-label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    word-wrap: normal;
    color: #00070e;
  }
}

.theme-doc-sidebar-container {
  background: var(--ifm-sidebar-background-color);
  border-right: 1px solid rgba(0, 7, 14, 0.08);
  .menu {
    padding: 1rem 0 2rem 0;
  }
}
.skipToContent_fXgn {
  display: none;
}
.theme-doc-sidebar-menu .theme-doc-sidebar-item-link .menu__link {
  font-size: 13px;
  line-height: 20px;
  color: var(--ifm-sidebar-link-color);
  border-radius: 0;
}
.theme-doc-sidebar-menu .theme-doc-sidebar-item-link .menu__link.menu__link--active {
  color: var(--ifm-color-primary);
  font-weight: 500;
  background-color: var(--ifm-color-primary-lightest);
  border-left: 2px solid var(--ifm-color-tertiary);
}

.theme-doc-sidebar-menu .menu__list-item-collapsible .menu__link--sublist {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--ifm-font-color-base);
  &::after {
    background-size: 1.25rem 1.25rem;
  }
}
.theme-doc-sidebar-menu.menu__list .menu__list {
  border-left: 1px solid var(--ifm-default-border-color);
  .menu__link {
    margin: 0;
    border-left: 1px solid var(--ifm-default-border-color);
    padding: 8px 12px;
    border-radius: 0;
    &.menu__link--active {
      border-left: 1.5px solid var(--ifm-color-tertiary);
      color: var(--ifm-color-primary);
    }
  }

  .menu__list-item:not(:first-child) {
    margin-top: 0;
  }
}
.top_nav {
  display: flex;
  gap: 24px;
  padding: 0px 24px;
  height: var(--ifm-top-nav-height);
  background-color: var(--ifm-top-nav-bg);
  border-bottom: 1px solid var(--ifm-navbar-border-color);
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 199;
}
.top_nav .nav-main {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.top_nav a.top-nav-link {
  font-size: 13px;
  line-height: 20px;
  color: var(--ifm-heading-color);
  padding: 8px;
  height: 100%;
  display: inline-block;
  line-height: 26px;
}

.top_nav a.top-nav-link:hover {
  text-decoration: none;
}
.top_nav .top-nav-link-item {
  cursor: pointer;
  transition: all 0.2s ease;
  height: 100%;
  &:hover {
    color: var(--ifm-color-primary);
  }
}
.top_nav .top-nav-link-item.active {
  font-weight: 700;
  border-bottom: 2px solid var(--ifm-color-tertiary);
}
.theme-doc-sidebar-container > :first-child {
  top: var(--ifm-top-nav-height);
  max-height: calc(100vh - 64px);
}

.sidebar-default-author .menu__link {
  color: #e67e22 !important;
  font-style: italic;
  background-color: rgba(230, 126, 34, 0.05);
  border-radius: 4px;
}

.sidebar-missing-author .menu__link {
  color: #e65622 !important;
  font-style: italic;
  background-color: rgba(230, 34, 34, 0.1);
  border-radius: 4px;
}

a.theme-edit-this-page {
  display: flex;
  align-items: center;
  font-size: 14px;
}

a.pagination-nav__link.pagination-nav__link--next,
a.pagination-nav__link.pagination-nav__link--prev {
  border: none;
  .pagination-nav__sublabel {
    display: none;
  }

  .pagination-nav__label {
    color: var(--ifm-link-color);
    font-size: 14px;
    line-height: 16px;
  }
}

/* components */
.button {
  padding: 8px 16px;
  border-radius: var(--ifm-button-border-radius);
  transition: all 0.2s ease-in-out;
}
.button.button--primary {
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.button.button--primary:hover,
.button.button--primary:focus {
  background-color: var(--ifm-color-primary-hover);
  border-color: var(--ifm-color-primary-hover);
  color: var(--ifm-color-white);
}

.button--outline.button--primary {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  background-color: transparent;
}
.button--outline.button--primary:hover,
.button--outline.button--primary:focus {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}
.button--outline.button-default {
  border-color: var(--ifm-button-border-color);
  color: var(--ifm-button-color);
}
.button--outline.button-default:hover,
.button--outline.button-default:focus {
  background-color: var(--ifm-color-dark);
  border-color: var(--ifm-color-dark);
  color: var(--ifm-color-white);
}
.button.button--dark {
  background-color: var(--ifm-color-dark);
  border-color: var(--ifm-color-dark);
  color: var(--ifm-color-dark-surface);
}
.button.button--dark:hover,
.button.button--dark:focus {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
}

button.btn.btn-icon {
    padding: 8px;
    align-items: center;
    border-radius: 6px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
    background: transparent;
    &:hover{
      background-color: rgb(239, 239, 239);
    }
}
/* homepage */

.main-wrapper-homepage .content-space {
  padding: var(--homepage-spacing);
  width: 100%;
}
.content-space .top-banner-section,
.content-space .env-list-section,
.rightside-img-section .section-space,
.leftside-img-section .section-space {
  max-width: var(--wm-max-content);
  width: 100%;
  margin: 0 auto;
}

/* old design style for top-banner */
/* .top-banner-section {
  border-radius: 16px;
  overflow: hidden;
  min-height: 292px;
  padding: 62px;
  text-align: center;
  background-image: linear-gradient(315deg, #45aaf4 0%, #5151e5 100%),
    url("/img/background/banner-wave.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-blend-mode: overlay;
  .font-lg,
  p {
    margin-bottom: 16px;
  }
  .font-lg {
    font-size: var(--wm-font-lg);
    line-height: 56px;
    font-weight: var(--wm-font-weight-bold);
    color: var(--ifm-color-white);
  }
  p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 26px;
  }
}

.top-banner-section .DocSearch-Button {
  display: inline-flex;
  --docsearch-searchbox-background: rgba(255, 255, 255, 0.15);
  --docsearch-subtle-color: rgba(255, 255, 255, 0.3);
  --docsearch-muted-color: #fff;
  min-width: 60%;
  height: 60px;
  border-radius: 100px;
  margin-top: 44px;
  padding: 0 16px;
}

*/

.main-wrapper-homepage .content-space.section-bg-wrapper {
  background-image: url('/img/background/section-bg.svg'), url('/img/background/blur-bg.svg');
  background-repeat: no-repeat;
  background-position:
    10% 50%,
    10% 50%;
  background-size: cover, contain;
  padding: var(--homepage-spacing);
}

.top-banner-section {
  text-align: center;
  .text-greeting {
    font-size: 44px;
    line-height: 62px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    text-transform: capitalize;
  }
  .text-greeting-desc {
    font-size: 14px;
    line-height: 26px;
    color: rgba(74, 74, 74, 1);
    font-weight: 400;
    margin-top: 12px;
  }
  span.search-div {
    max-width: 54px;
    max-height: 54px;
    padding: 15px;
    background: rgba(104, 99, 255, 1);
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    display: inline-flex;
    svg {
      stroke-width: 3px;
    }
  }
}
.top-banner-section .DocSearch-Button {
  display: inline-flex;
  min-width: 60%;
  height: 60px;
  padding: 0 16px;
  margin-top: 44px;

  border-radius: 100px;
  border: 1px solid transparent;

  background:
    linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 187.27deg at 50% 50%,
        #eead92 0deg,
        #ff44ec 192.12deg,
        #fe4ce5 221.27deg,
        #6018dc 360deg
      )
      border-box;

  box-shadow: 0px 20px 53.45px rgba(0, 0, 0, 0.03);
  transition:
    box-shadow 0.25s ease,
    background 0.5s ease,
    transform 0.25s ease;
}
.top-banner-section .DocSearch-Button:hover {
  background:
    linear-gradient(#fff, #fff) padding-box,
    conic-gradient(
        from 220deg at 50% 50%,
        #f2b29b 0deg,
        #ff63f1 190deg,
        #1694ef 225deg,
        #1694ef 360deg
      )
      border-box;

  box-shadow: 0px 28px 65px rgba(0, 0, 0, 0.08);
}

.env-list-section {
  padding-top: 4rem;
}
.DocSearch-Footer {
  flex-direction: row;
}
.DocSearch-Logo {
  display: none;
}
.env-list-group {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -12px;
  .env-list-item {
    margin: 12px;
    width: calc(100% / 3 - 24px);
    transition: all 0.2s ease;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
    .env-item-link {
      background: var(--wm-card-bg);
      border: 2px solid var(--wm-card-border-color);
      border-radius: 16px;
      text-align: left;
      cursor: pointer;
      padding: 24px;
      display: block;
      color: inherit;
      height: 100%;
      width: 100%;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    .img-wrapper {
      width: 56px;
      height: 56px;
      border-radius: 8px;
      background-color: var(--wm-card-img-bg);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &:hover,
    &:focus,
    &:has(.env-item-link:hover),
    &:has(.env-item-link:focus) {
      box-shadow:
        0px 4px 8px 0px rgba(0, 0, 0, 0.06),
        0px 12px 32px 0px rgba(0, 0, 0, 0.06);
      /* transform: scale(1.025); */
      transform: translateY(-4px);
      a::before {
        content: '';
        position: absolute;
        width: 240px;
        left: 60%;
        top: 0;
        transform: translateX(-40%);
        height: 40%;
        background: radial-gradient(rgba(0, 115, 229, 0.8), transparent);
        background-position: top center;
        filter: blur(70px);
      }
      .img-wrapper {
        background-color: rgba(11, 99, 229, 1);
        svg path,
        svg react,
        svg circle {
          fill: transparent;
          stroke: var(--wm-svg-color);
        }
      }
      .arrow-icon-wrapper {
        svg path,
        svg react,
        svg circle {
          color: var(--ifm-color-primary);
        }
      }
    }
  }
}
.env-list-item .content-wrapper {
  /* padding-inline: 2.5rem; */
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
  .env-item-heading {
    font-size: 18px;
    font-weight: var(--wm-font-weight-bold);
    line-height: 24px;
  }
  .env-item-desc {
    font-size: 14px;
    line-height: 22px;
    color: rgba(66, 82, 107, 1);
    margin-top: 8px;
  }
  .arrow-icon-wrapper {
    display: inline-flex;
    svg {
      color: rgba(66, 82, 107, 1);
    }
  }
}

/* img aligned section */
.rightside-img-section,
.leftside-img-section {
  padding: 6rem 8rem;
  .left-content {
    flex: 50%;
    position: relative;
  }
  .right-content {
    flex: 40%;
  }
  img {
    max-height: 380px;
    width: auto;
  }
  .section-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    position: relative;
  }
}
.rightside-img-section {
  background-image: url('/img/background/rightimgsection-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.leftside-img-section {
  background-color: var(--wm-section-img-bg);
}

.rightside-img-section .left-content .highlight-span,
.leftside-img-section .right-content .highlight-span {
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  color: var(--ifm-color-primary);
  border: 1px solid var(--ifm-color-primary);
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 24px;
  text-transform: uppercase;
}

.rightside-img-section .left-content .title,
.leftside-img-section .right-content .title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 16px;
}
.rightside-img-section .left-content .desc,
.leftside-img-section .right-content .desc {
  font-size: 16px;
  line-height: 26px;
  color: var(--ifm-font-color-muted);
  font-weight: 400;
  margin-top: 12px;
  width: 70%;
}
.rightside-img-section .left-content .button,
.leftside-img-section .right-content .button {
  margin-top: 32px;
  min-width: 180px;
}

.leftside-img-section .left-content::after,
.leftside-img-section .left-content::before {
  /* content: ""; */
  width: 120px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: movePointer 4s ease-in-out infinite alternate;
}

/* Pointer bottom-top movement */
.leftside-img-section .left-content::after {
  background-image: url('/img/background/john.svg');
  left: 50%;
  bottom: 20%;
}

/* Pointer top-bottom movement */
.leftside-img-section .left-content::before {
  background-image: url('/img/background/baker.svg');
  left: 15%;
  top: 20%;
}

@keyframes movePointer {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

/* additonal resource */
.resources-list-section {
  padding: 80px 68px;
  text-align: center;
}
.resources-list-section .section-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
}

.resources-list-section .res-list-group {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
}

.res-list-group .res-list-item {
  position: relative;
  padding: 36px;
  background: var(--wm-card-bg);
  text-align: center;
}

.res-list-group .res-list-item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.8px;
  background: linear-gradient(
    0deg,
    rgba(228, 228, 231, 0) 0%,
    #b4b4b7 50%,
    rgba(127, 127, 129, 0) 100%
  );
  top: 0;
}

.res-list-group .res-list-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.8px;
  background: linear-gradient(
    270deg,
    rgba(228, 228, 231, 0) 0%,
    #b4b4b7 50%,
    rgba(127, 127, 129, 0) 100%
  );
  left: 0;
}

/* Removed top borders for row 1 */
.res-list-item:nth-child(1)::before,
.res-list-item:nth-child(2)::before,
.res-list-item:nth-child(3)::before {
  display: none;
}

/* Removed left borders for column 1 */
.res-list-item:nth-child(1)::after,
.res-list-item:nth-child(4)::after,
.res-list-item:nth-child(7)::after {
  display: none;
}

.res-list-group .res-list-item .content-wrapper {
  .res-item-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 16px;
  }
  .res-item-desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--ifm-font-color-muted);
  }
}

.bottom-banner-section {
  background-color: var(--ifm-color-primary);
  border-radius: 20px;
  display: flex;
  /* align-items: center; */
  min-height: 292px;
  background-image: url('/img/background/3D-Wavebottom.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  overflow: hidden;
  max-width: 1200px;
  margin: 40px auto;
  .left-content {
    width: 30%;
    background-color: var(--ifm-color-primary);
    background-image: radial-gradient(
      circle at left center,
      rgba(210, 210, 255, 0.5) 0%,
      rgba(210, 210, 255, 0.35) 20%,
      rgba(210, 210, 255, 0.15) 35%,
      transparent 55%
    );
    backdrop-filter: blur(153.56px);
    -webkit-backdrop-filter: blur(153.56px);

    img {
      height: 100%;
      width: auto;
    }
  }
  .right-content {
    padding: 62px 90px;
    width: 70%;
    .title {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      color: var(--ifm-color-white);
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 16px;
    }
    .button__white {
      background-color: rgba(14, 71, 113, 1);
      border-color: rgba(255, 255, 255, 0.11);
      margin-top: 24px;
      display: inline-flex;
      gap: 14px;
      align-items: center;
      color: var(--ifm-color-white);
      &:hover,
      &:focus {
        background-color: var(--ifm-colo-secondary);
        border-color: var(--ifm-colo-secondary);
      }
    }
  }
}

/* footer */

.footer {
  .send-message-section {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid rgba(228, 228, 231, 1);
    .message {
      font-size: 32px;
      font-weight: 600;
      line-height: 42px;
    }
  }
  .footer-main-section {
    padding-top: 56px;
    .logo-links {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: var(--ifm-color-dark);
      img {
        width: 24px;
        height: 24px;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: var(--ifm-color-primary);
      }
    }
    .footer-desc {
      font-size: 14px;
      line-height: 24px;
      color: var(--ifm-font-color-muted);
      margin-top: 12px;
      padding-right: 5rem;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .nav-title {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
    .nav-item .nav-link {
      font-size: 14px;
      line-height: 18px;
      color: var(--ifm-font-color-muted);
      &:hover,
      &:focus {
        text-underline-offset: 4px;
      }
    }
  }
}

/* Responsiveness*/

@media only screen and (max-width: 480px) {
  .top-banner-section .text-greeting {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .top-banner-section .text-greeting {
    font-size: 32px;
    line-height: 48px;
  }
  .top-banner-section .env-list-group {
    margin: 0;
  }
  .env-list-group .env-list-item {
    width: 100%;
  }
  .resources-list-section .res-list-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .res-list-group .res-list-item::after,
  .res-list-group .res-list-item::before {
    display: none;
  }
  .rightside-img-section,
  .leftside-img-section {
    padding: 24px;
  }
  .rightside-img-section,
  .leftside-img-section .section-space {
    flex-direction: column;
    gap: 2rem;
    .left-content {
      flex: 100%;
    }
    .right-content {
      flex: 100%;
    }
  }
  .resources-list-section .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .resources-list-section {
    padding: 32px 24px;
  }
  .main-wrapper-homepage .content-space {
    --homepage-spacing: 32px 24px;
  }
  .top-banner-section {
    padding: 32px;
    min-height: auto;
  }
  .top-banner-section .DocSearch-Button {
    min-width: 90%;
  }
  .top_nav {
    height: auto;
    .nav-main {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      .top-nav-link-item {
        padding: 6px;
      }
    }
  }
  .bottom-banner-section {
    flex-direction: column;
    padding: 24px;
    text-align: center;
    background-position: center;
    .left-content {
      width: 100%;
      margin-bottom: 24px;
    }
    .right-content {
      width: 100%;
      padding: 0;
      padding-bottom: 16px;
      text-align: left;
      .title {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
  .footer {
    padding: 0;
    .footer__item {
      display: flex;
      align-items: center;
    }
  }

  .footer .send-message-section {
    gap: 32px;
    padding: 32px;
    .message {
      font-size: 24px;
      line-height: 28px;
    }
    .col--6 {
      padding: 0;
    }
  }
  .footer .footer-main-section {
    padding: 32px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
}
@media only screen and (min-width: 993px) {
}

/* Temporary css */
/* Style dead links unless they are inside .navbar or .theme-doc-sidebar-container */
a[href=""]:not(:is(.navbar, .navbar * , .theme-doc-sidebar-container, .theme-doc-sidebar-container *)),
a[href="#"]:not(:is(.navbar, .navbar *, .theme-doc-sidebar-container, .theme-doc-sidebar-container *)) {
  color: red;
}

a[href=""]:hover:not(:is(.navbar, .navbar *, .theme-doc-sidebar-container, .theme-doc-sidebar-container *))::after,
a[href="#"]:hover:not(:is(.navbar, .navbar *, .theme-doc-sidebar-container, .theme-doc-sidebar-container *))::after {
  content: " ⚠️ dead link";
  font-size: 0.8em;
  color: red;
  margin-left: 0.25em;
}



/* Temporary css */
