/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --ifm-color-primary: rgba(11, 99, 229, 1);
  --ifm-color-dark: rgba(24, 24, 27, 1);
  --ifm-color-white: rgba(255, 255, 255, 1);
  --ifm-color-primary-lightest: rgba(240, 245, 255, 1);

  --ifm-font-family-base: "DM Sans", sans-serif;
  --ifm-font-color-base: rgba(63, 63, 70, 1);
  --ifm-font-size-base: 16px;
  --ifm-heading-color: rgba(24, 24, 27, 1);
  --ifm-heading-margin-bottom: 0;
  --ifm-paragraph-margin-bottom: 0;
  --ifm-h1-font-size: 2.25rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.125rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.75rem;

  /* button */
  --ifm-button-border-color: rgba(1, 2, 5, 0.63);
  --ifm-button-color: rgba(0, 0, 0, 1);
  --ifm-button-border-radius: 8px;

  /* navbar */
  --ifm-navbar-padding-vertical: 14px;
  --ifm-navbar-height: 72px;

  /**--Font--**/
  --wm-font-family-backup: "Arial", sans-serif;
  --wm-font-family: "DM Sans", var(--wm-font-family-backup);
  --wm-font-family-secondary: "Inter", var(--wm-font-family-backup);
  --wm-body-font-weight: 400;
  --wm-font-weight-thin: 100;
  --wm-font-weight-extralight: 200;
  --wm-font-weight-light: 300;
  --wm-font-weight-regular: 400;
  --wm-font-weight-medium: 500;
  --wm-font-weight-semibold: 600;
  --wm-font-weight-bold: 700;
  --wm-font-weight-extrabold: 800;
  --wm-font-weight-black: 900;

  /* Font Sizes */
  --wm-h1-font-size: 2.25rem; /* 36px */
  --wm-h2-font-size: 1.5rem; /* 24px */
  --wm-h3-font-size: 1.125rem; /* 18px */
  --wm-h4-font-size: 1rem; /* 16px */
  --wm-h5-font-size: 0.875rem; /* 14px */
  --wm-h6-font-size: 0.75rem; /* 12px */

  --wm-font-lg: 3.25rem; /* 52px */
  --wm-font-md: 2.5rem; /* 40px */
  --wm-font-20: 1.25rem; /* 20px */
  --wm-font-15: 0.9375rem; /* 15px */
  --wm-font-13: 0.8125rem; /* 13px */
  --wm-font-11: 0.6875rem; /* 11px */
  --wm-font-10: 0.625rem; /* 10px */
  --wm-font-8: 0.5rem; /* 8px */

  /**--Break points--**/
  --wm-screen-lg: 1440px;
  --wm-screen-md: 1200px;
  --wm-screen-sm: 992px;
  --wm-screen-xs: 768px;

  /**--Standard utility--**/
  --wm-rule-space: 4px;
  --wm-space-0: ~"calc(var(--wm-rule-space) * 0)";
  --wm-space-1: ~"calc(var(--wm-rule-space) * 1)";
  --wm-space-2: ~"calc(var(--wm-rule-space) * 2)";
  --wm-space-3: ~"calc(var(--wm-rule-space) * 3)";
  --wm-space-4: ~"calc(var(--wm-rule-space) * 4)";
  --wm-space-5: ~"calc(var(--wm-rule-space) * 5)";
  --wm-space-6: ~"calc(var(--wm-rule-space) * 6)";
  --wm-space-7: ~"calc(var(--wm-rule-space) * 7)";
  --wm-space-8: ~"calc(var(--wm-rule-space) * 8)";
  --wm-space-9: ~"calc(var(--wm-rule-space) * 9)";
  --wm-space-10: ~"calc(var(--wm-rule-space) * 10)";
  --wm-space-11: ~"calc(var(--wm-rule-space) * 11)";
  --wm-space-12: ~"calc(var(--wm-rule-space) * 12)";

  /* icon size */

  --wm-icon-size-1: 12px;
  --wm-icon-size-2: 20px;
  --wm-icon-size-3: 24px;
  --wm-icon-size-4: 32px;
  --wm-icon-size-5: 40px;
  --wm-icon-size-6: 52px;

  /* svg */
  --wm-svg-color:#fff;

  /* homepage variable */
  --homepage-spacing: 32px 72px;
  --wm-max-content: 1600px;
  --wm-card-bg: #fff;
  --wm-card-img-bg: rgba(240, 245, 255, 1);
  --wm-card-border-color: rgba(150, 185, 225, 0.35);
  --wm-section-img-bg: rgba(240, 245, 255, 1);

  /* footer variables */
  --ifm-footer-background-color: rgba(250, 250, 251, 1);
  --ifm-footer-padding-horizontal: 140px;
  --ifm-footer-padding-vertical: 80px;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-font-color-base: rgba(255, 255, 255, 0.8);
  --ifm-font-color-muted: rgba(66, 82, 107, 1);
}
[data-theme="dark"] .section-title{
  --ifm-heading-color:#fff;
}
[data-theme="dark"] .rightside-img-section{
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
/* components */
.button {
  padding: 8px 16px;
  border-radius: var(--ifm-button-border-radius);
}
.button--outline.button--primary {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}
.button--outline.button--primary:hover,
.button--outline.button--primary:focus {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
}
.button--outline.button-default {
  border-color: var(--ifm-button-border-color);
  color: var(--ifm-button-color);
}
.button--outline.button-default:hover,
.button--outline.button-default:focus {
  background-color: var(--ifm-color-dark);
  border-color: var(--ifm-color-dark);
  color: var(--ifm-color-white);
}
.button.button--dark {
  background-color: var(--ifm-color-dark);
  border-color: var(--ifm-color-dark);
  color: var(--ifm-color-white);
}
.button.button--dark:hover,
.button.button--dark:focus {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
}
/* homepage */

.main-wrapper-homepage {
  padding: var(--homepage-spacing);
  max-width: var(--wm-max-content);
  width: 100%;
  margin: 0 auto;
}
.top-banner-section {
  background: linear-gradient(
    155deg,
    rgba(92, 117, 183, 1) 0%,
    rgba(92, 117, 183, 0.7) 25%,
    rgba(238, 164, 218, 0.7) 50%,
    rgba(238, 164, 218, 1) 100%
  );
  border-radius: 20px;
  overflow: hidden;
  min-height: 292px;
  padding: 62px;
  text-align: center;
  .font-lg,
  p {
    color: var(--ifm-color-white);
    margin-bottom: 16px;
  }
  .font-lg {
    font-size: var(--wm-font-lg);
    line-height: 56px;
    font-weight: var(--wm-font-weight-semibold);
  }
}

.top-banner-section .DocSearch-Button {
  display: inline-flex;
  --docsearch-searchbox-background: transparent;
  --docsearch-subtle-color: rgba(255, 255, 255, 0.44);
  --docsearch-muted-color: #fff;
  min-width: 30%;
  height: 54px;
  border-radius: 54px;
  padding: 0 16px;
}
.navbar .navbar__items .DocSearch-Button {
  display: none;
}
.navbar .navbar__items {
  gap: 12px;
  font-size: 0.875rem;
}
.navbar__title {
  font-weight: 500;
}

.env-list-section {
  padding: 20px 0;
}
.DocSearch-Footer {
  flex-direction: row;
}
.DocSearch-Logo {
  display: none;
}
.env-list-group {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -12px;
  .env-list-item {
    margin: 12px;
    width: calc(100% / 3 - 24px);
    padding: 30px 18px;
    background-color: var(--wm-card-bg);
    border: 0.79px solid var(--wm-card-border-color);
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    .env-item-link {
      display: block;
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    .img-wrapper {
      width: 56px;
      height: 56px;
      border-radius: 8px;
      background-color: var(--wm-card-img-bg);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &:hover,
    &:focus,
    &:has(.env-item-link:hover),
    &:has(.env-item-link:focus) {
      box-shadow: 0px 10.98px 51.25px 0px rgba(6, 28, 61, 0.12);
      transform: scale(1.025);
      .img-wrapper {
        background-color: rgba(11, 99, 229, 1);
        svg path,
        svg react,
        svg circle {
          fill: transparent;
          stroke: var(--wm-svg-color);
        }
      }
    }
  }
}
.env-list-item .content-wrapper {
  padding-inline: 2.5rem;
  margin-top: 16px;
  .env-item-heading {
    font-size: var(--ifm-h3-font-size);
    font-weight: var(--wm-font-weight-medium);
    line-height: 20px;
  }
  .env-item-desc {
    font-size: var(--wm-font-13);
    line-height: 18px;
    color: var(--ifm-font-color-muted);
    margin-top: 14px;
  }
}

/* img aligned section */
.rightside-img-section,
.leftside-img-section {
  padding: 100px 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  position: relative;
}
.rightside-img-section {
  background-image: url("/img/background/rightimgsection-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.leftside-img-section {
  background-color: var(--wm-section-img-bg);
}

.rightside-img-section .left-content .highlight-span,
.leftside-img-section .right-content .highlight-span {
  font-size: 12px;
  line-height: 16px;
  color: var(--ifm-color-primary);
  background-color: var(--ifm-color-primary-lightest);
  padding: 6px 12px;
  border-radius: 24px;
}
.leftside-img-section .right-content .highlight-span {
  background-color: rgba(255, 255, 255, 0.72);
}
.rightside-img-section .left-content .title,
.leftside-img-section .right-content .title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 12px;
}
.rightside-img-section .left-content .desc,
.leftside-img-section .right-content .desc {
  font-size: 16px;
  line-height: 26px;
  color: var(--ifm-font-color-muted);
  font-weight: 400;
  margin-top: 16px;
}
.rightside-img-section .left-content .button--dark,
.leftside-img-section .right-content .button--dark {
  margin-top: 20px;
  min-width: 180px;
}

.leftside-img-section .left-content {
  width: 70%;
  position: relative;
}

.leftside-img-section .left-content::after,
.leftside-img-section .left-content::before {
  content: "";
  width: 120px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: movePointer 4s ease-in-out infinite alternate;
}

/* Pointer bottom-top movement */
.leftside-img-section .left-content::after {
  background-image: url("/img/background/john.svg");
  left: 50%;
  bottom: 20%;
}

/* Pointer top-bottom movement */
.leftside-img-section .left-content::before {
  background-image: url("/img/background/baker.svg");
  left: 15%;
  top: 20%;
}

@keyframes movePointer {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, -20px);
  }
}

/* additonal resource */
.resources-list-section {
  padding: 80px 68px;
  text-align: center;
}
.resources-list-section .section-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
}

.resources-list-section .res-list-group {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
}

.res-list-group .res-list-item {
  position: relative;
  padding: 36px;
  background: var(--wm-card-bg);
  text-align: center;
}

.res-list-group .res-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0.8px;
  background: linear-gradient(
    0deg,
    rgba(228, 228, 231, 0) 0%,
    #b4b4b7 50%,
    rgba(127, 127, 129, 0) 100%
  );
  top: 0;
}

.res-list-group .res-list-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.8px;
  background: linear-gradient(
    270deg,
    rgba(228, 228, 231, 0) 0%,
    #b4b4b7 50%,
    rgba(127, 127, 129, 0) 100%
  );
  left: 0;
}

/* Removed top borders for row 1 */
.res-list-item:nth-child(1)::before,
.res-list-item:nth-child(2)::before,
.res-list-item:nth-child(3)::before {
  display: none;
}

/* Removed left borders for column 1 */
.res-list-item:nth-child(1)::after,
.res-list-item:nth-child(4)::after,
.res-list-item:nth-child(7)::after {
  display: none;
}

.res-list-group .res-list-item .content-wrapper {
  .res-item-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 16px;
  }
  .res-item-desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--ifm-font-color-muted);
  }
}
/* footer */

.footer {
  .send-message-section {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid rgba(228, 228, 231, 1);
    .message {
      font-size: 32px;
      font-weight: 600;
      line-height: 42px;
    }
  }
  .footer-main-section {
    padding-top: 56px;
    .logo-links {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: var(--ifm-color-dark);
      img {
        width: 24px;
        height: 24px;
      }
      &:hover,&:focus{
        text-decoration: none;
        color: var(--ifm-color-primary);
      }
    }
    .footer-desc{
      font-size: 14px;
      line-height: 24px;
      color: var(--ifm-font-color-muted);
      margin-top: 12px;
      padding-right: 5rem;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.footer-nav-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
   .nav-title{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
   }
   .nav-item .nav-link{
    font-size: 14px;
    line-height: 18px;
    color: var(--ifm-font-color-muted);
    &:hover,&:focus{
      text-underline-offset: 4px;
    }

   }
  }
}
