/*
NavbarSearch styles
*/

.navbarSearchContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbarSearchContainer:empty {
  display: none;
}

@media (max-width: 996px) {
  .navbarSearchContainer {
    position: absolute;
    right: var(--ifm-navbar-padding-horizontal);
  }
}

@media (min-width: 997px) {
  .navbarSearchContainer {
    padding: 0 var(--ifm-navbar-item-padding-horizontal);
  }
}